
.collection{
    padding: 80px 120px;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    gap: 20px;
  
    .collection__title{
        h1{
                font-size: 38px;
                font-weight: 600;
                line-height: 45.6px;
        }

        p{
         
                font-size: 22px;
                font-weight: 400;
                line-height: 35.2px;
              
        }
    }
    .collection__cards{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 30px;

    }
    .animals{
        display: flex;
        flex-direction: column;
        gap: 10px;
     
        .collection__boxes{
display: flex;
justify-content: space-around;
        }
        .collection__user{
            display: flex;
         align-items: center;
         gap: 10px;
        }
    }
}

@media (max-width:1400px) {
   .collection {
        padding: 60px 100px;
      
    }
}
@media (max-width:1024px) {
   .collection {
        padding: 40px 80px;
        .collection__title {
        
                h1 {
                    font-size: 34px;
                    text-align: center;
                }
        
                p {
                    text-align: center;
                    font-size: 20px;
        
        
                }
            }
        
            .collection__cards {
                grid-template-columns: repeat(2,1fr);
            }
    }
}
@media (max-width:992px) {
   .collection {
        padding: 30px 60px;

        .collection__cards {
                grid-template-columns: repeat(1, 1fr);
            }
    }
}