.creators{
        display: flex;
        flex-direction: column;
            width: 100%;
            padding:  30px;
            color: #FFFF;
            justify-content: space-between;
            gap: 20px;
            .creators__title {
                padding: 20px;
                    h1 {
                        font-size: 38px;
                        font-weight: 600;
                        line-height: 45.6px;
                        text-align: center;
                    }
            
                    p {
            
                        font-size: 22px;
                        font-weight: 400;
                        line-height: 35.2px;
            text-align: center;
                    }
                }
            .creators__cards{
                display: grid;
                // grid-template-columns: repeat(4,1fr);
                gap: 30px;
                .creators__card{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: #3B3B3B;
                    border-radius: 20px;
                    padding:20px 10px;
                    gap: 10px;
h2{

        font-size: 22px;
        font-weight: 600;
        line-height: 30.8px;
    
}
p{
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
  color: #858584;
span {
        font-size: 16px;
        font-weight: 600;
        line-height: 22.4px;
color: #FFFF;
    }
}



                }
            }
}


@media (min-width:576px) {
    .creators {
        padding: 0 40px;

        .creators__cards {
            grid-template-columns: repeat(1, 1fr);

            .creators__card {
               flex-direction: row;
                h2 {
                    font-size: 18px;
                }

               
            }

        }

    }
}
@media (min-width:768px) {
    .creators{
        padding: 0 40px;

        .creators__cards{
            grid-template-columns: repeat(2,1fr);
          
            .creators__card {
                  flex-direction: row;


                }
        }
                
    }
}
@media (min-width:992px) {
    .creators{
        padding: 0 60px;

        .creators__cards{
            grid-template-columns: repeat(2,1fr);
          
        }
                
    }
}
@media (min-width:1024px) {
    .creators{
        padding: 0 60px;

        .creators__cards{
            grid-template-columns: repeat(3,1fr);
          
        }
                
    }
}
