.discover {
    padding: 40px;
    color: #FFFF;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .ds-top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-size: 38px;
            font-weight: 600;
            line-height: 45.6px;
        }

        p {
            font-size: 22px;
            font-weight: 400;
            line-height: 35.2px;

        }

        .ds-btn {
            display: none;
            padding: 10px 30px;
            gap: 12px;
            border-radius: 20px;
            border: 2px;
            border: 1px solid #A259FF;
            font-size: 18px;
            background-color: transparent;
            color: #FFFF;
            cursor: pointer;

            span {
                color: #A259FF;
            }
        }
    }



    .ds__cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;

        .ds__card {
            background-color: #3b3b3b;
            border-radius: 30px;

            .ds-main {
                width: 100%;
            }

            .ds__card-info {
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .ds__card-user {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 18px;

                    img {
                        width: 40px;
                    }

                }

                .ds__card-boxes {
                    display: flex;
                    justify-content: space-between;
                    font-size: 20px;

                    span {
                        color: #f8d3ff76;
                    }
                }
            }
        }
    }

    .ds-bottom {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        display: block;

        button {
            padding: 10px 30px;
            gap: 12px;
            border-radius: 20px;
            border: 2px;
            border: 1px solid #A259FF;
            font-size: 18px;
            background-color: transparent;
            color: #FFFF;
            cursor: pointer;

            span {
                color: #A259FF;
            }
        }
    }
}

@media (min-width:768px) {
    .discover {
        .ds-top {
            .ds-btn {
                display: block;
            }
        }

        .ds__cards {
            grid-template-columns: 1fr 1fr;
        }

        .ds-bottom {
            display: none;
        }

    }
}

@media (min-width:1024px) {
    .discover {
        padding: 60px;

        .ds-top {
            .ds-btn {
                display: block;
            }
        }

        .ds__cards {
            grid-template-columns: 1fr 1fr 1fr;
        }


    }
}