header{
position: sticky;
top: 0;
background-color: #434145;
padding: 20px 60px;
align-items: center;
z-index: 1;
.header__navbar{
    display: flex;
    justify-content: space-between;
align-items: center;
.header__right{
    display: flex;
align-items: center;
gap: 40px;

    .header__list{
    display: flex;
    gap: 30px;
    .header__list-link{
font-size: 16px;
font-weight: 600;
line-height: 22.4px;
color: #FFFFFF;
    }

}
.header__btn{
    padding: 12px 30px;
    border-radius: 20px;
    background-color: #A259FF;
    color: #FFFFFF;
    border: 2px solid transparent;
    cursor: pointer;
    font-size: 16px;
    word-spacing: 5px;

}
.header__hamburger{
     padding: 4px 6px;
    font-size: 22px;
    color: #FFFFFF;
    background-color:transparent;
border: 1px solid transparent;
    display: none;
     cursor: pointer;
     border-radius: 50%;
}
.header__user{
    padding: 4px 6px;
 font-size: 22px;
    color:#FFFFFF;
    background-color:transparent;
border: 1px solid transparent;
    display: none;
    cursor: pointer;
      border-radius: 50%;
}
button:hover{
    color: #A259FF;
    background-color:#FFFFFF;
}
}

}
}
@media (max-width:1200px) {
    header{
        padding: 20px 40px;
    }
}
@media (max-width:992px) {
    header{
        padding: 20px 30px;
        .header__navbar{
           .header__right{
             .header__list{
            display: none;
          }
          .header__btn{
           padding: 6px 18px;
          }
         .header__hamburger{
            display: block;
         }
           }
        }
    }
}
@media (max-width:576px) {
    header{
        padding: 20px 20px;

        .header__navbar{
            .header__right{
                gap: 15px;
                .header__btn{
                    display: none;
                }
                .header__user{
                    display: block;
                }
            }
        }
    }
}